.presentation
  position: absolute
  width: 60vw
  height: 60vh
  top: 30vh
  left: 40vw
  background-color: #d9ecf2
  display: flex
  align-items: center
  justify-content: center
  // -webkit-box-shadow: inset 0px 0px 0px 1px #666
  // -moz-box-shadow: inset 0px 0px 0px 1px #666
  // box-shadow: inset 0px 0px 0px 1px #666