.actionBar
  position: absolute
  width: 60vw
  top: 90vh
  left: 40vw
  background-color: #06172A
  // -webkit-box-shadow: inset 0px 0px 0px 1px #666
  // -moz-box-shadow: inset 0px 0px 0px 1px #666
  // box-shadow: inset 0px 0px 0px 1px #666
  z-index: 1