.navBar
  position: absolute
  background-color: #06172A
  // -webkit-box-shadow: inset 0px 0px 0px 1px #666
  // -moz-box-shadow: inset 0px 0px 0px 1px #666
  // box-shadow: inset 0px 0px 0px 1px #666
  z-index: 1